body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: Helvetica, sans-serif;
}

.container {
  display: flex;
}


.container .game-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 480px;
  height: 480px;
}

.container .game-container .game {
  margin: auto auto;
  text-align: center;
  line-height: 70px;
  width: 320px;
  height: 320px;
}
.container .game-container .game .cell {
  width: 70px;
  height: 70px;
  margin: 4px;
  border-radius: 4px;
  background: #fff;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in;
  color: #333;
  position: absolute;
}
.container .empty {
  opacity: 0;
  visibility: hidden;
}

button.shuffle:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}

button.shuffle {
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
}

button.solve:hover {
  box-shadow: 0 4px #035a91;
  top: 2px;
}

button.solve {
  background: #0c82cd;
  color: #fff;
  box-shadow: 0 6px #035a91;
}


button.restart:hover {
  box-shadow: 0 4px #f29e0d;
  top: 2px;
}

button.restart {
  background: #fcad26;
  color: #fff;
  box-shadow: 0 6px #f29e0d;
}

button {
  border-radius: 5px 5px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  color: #333;
}

.container .controls, .container .levels {
  margin: auto auto;
  text-align: center;
  line-height: 70px;
}

.container .info {
  width: 320px;
  height: 480px;
  margin-right: 8px;
  margin-left: 8px; 
  border-radius: 4px;
  margin-top: 8px;
  background: #fff;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0;
  color: #333;
  font-size: 1.2rem;
  padding: 24px;
  transition: all 0.2s ease-in;
  overflow: auto;
}

.container .levels button {
  padding: 8px 16px;
  line-height: 36px;
  border: 2px solid;
}

.heading {
  font-size: 36px;
  text-align: center;
}

h1 {
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .container .info {
    display: none;
  }
}